.form-horizontal .control-group {
	margin-bottom: 0px;
}
blockquote{
	margin-top: 10px;
}

input[type=text],input[type=password] {
	height: auto;
}

textarea {
	width: 340;
	height: 110;
}

.navbar-fixed-top{
	z-index: 1010;
}

.navbar-inverse {
	background: none repeat scroll 0 0 #454545; ---
	-background-image: linear-gradient(to bottom, #222222, #111111); ---
	-background-repeat: repeat-x;
	border-color: none;
}

#footer {
	background-color: #f5f5f5;
	line-height: 40px;
}

.table-width-std{
	width: 700px;
}

.nav-list{
	margin-bottom: 0;
	
}
.nav-list li{
	position: relative;
	padding-bottom: 3px;
}

.nav-list .action{
	position: absolute;
	right: 3px;
	top: 2px;	
}

.nav-list li a{
	padding: inherit;
	padding-left: 4px;
}
.glyphicon{
	color: black;
	font-size: 13px;
}
.active .glyphicon{
	color: white;
}

.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
    background-color: #0088CC;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.nav-list > li > a {
    padding: 3px 15px;
}
.well{
	padding-left: 5px;
	padding-right: 5px;
}

.glyphicon-white{
	color: white;
}
 .glyphicon-edit, .glyphicon-remove,.glyphicon-remove,.glyphicon-chevron-down,.glyphicon-question-sign,.animate{
	opacity:0.25;
}
 .glyphicon-edit:hover, .glyphicon-remove:hover,.glyphicon-chevron-down:hover,.glyphicon-question-sign:hover,.animate:hover{
	opacity:1;
}
.toshare .glyphicon-share{
	opacity:0.25;
}
.shared .glyphicon-share{
	opacity:1;
}
.accordion-heading a:hover{
	text-decoration: none;
} 
#logoLink{
	height: 35px;
	margin-top: 4px;
	margin-right: 5px;
	float: left;
	margin-left: 5px;
}
#answer {
	margin-bottom: 0px;
}

.alert {
	margin-bottom: 0px;
	margin-top: 13px;
	padding: 2px 35px 3px 14px;
	font-size: 12px;
}
.pattern {
	background-image: url("../img/pattern.jpg");
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-top: 4px;
}

.upload{
	padding: 10px;
	
}

#contact{
	height: 361px;
	width: 300px;
	position: absolute;
	right: 100px;
	top:0px;
	---display: none;
}

.progress{
	margin-bottom: 0px;
	margin-top: 8px;
}

.alert-custom {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.addressbook{
	background-image: url("../img/glyphicons_free/glyphicons_088_address_book.png"); 
	height: 24px;
	width: 24px;
	line-height24;
	background-repeat: no-repeat;
	display: inline-block;
	}



