#include( "com/daghosoft/daghlink/view/includeHead.txt" )

Hi ${yourname}, here you can find your credentials :
<br>
<br>
<b>${link}:</b>		${loginUrl}<br>
<b>${user}:</b> 		${loginUser}<br>
<b>${password}:</b> 	${loginPassword}<br>
<br>
<br>
#include( "com/daghosoft/daghlink/view/includeFoot.txt" )